{% extends 'todo/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<h3>Edit task</h3>

    <form action="/update/{{ task.id }}/" method="post" class="d-grid gap-3">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" placeholder="Title" maxlength="200" required id="id_title" value='{{ task.title }}'>
        <label for="description">Description</label>
        <textarea name="description" cols="40" rows="10" class="form-control" placeholder="Description" required id="id_description" >{{ task.description }}
</textarea>
    <label for="deadline">Deadline (optional)</label>
        {% if task.deadline %}
        <p>Current value: {{ task.deadline }}</p>
        {% endif %}
        <input type="date" name="deadline" class="form-control w-25" placeholder="Deadline yyyy-mm-dd" id="id_deadline" value='{{ current_deadline}}'  min='{{ now }}' >
       
        <button type="submit" class="btn btn-success">Update</button>
        <span></span>
   </form>
   

{% endblock %}